{% extends "shortener/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>
        {{ user.username }}
    </h1>



    <div id="content-section">
        <form class="form-signin"  method="POST">  
            {% csrf_token %} 
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>

{% endblock content %}
