{% extends "shortener/base.html" %}
{% block content %}
    <table class="table table-condensed" style="border-collapse:collapse;" >
        <thead>
            <tr>
                <th>Original URL</th>
                <th>Created</th>
                <th>Short URL</th>
                <th>All Clicks</th>
            </tr>
        </thead>
        <tbody>           
            {% for site in site_list %}             
            <tr>
                <td>{{ site.url_original }}</td>
                <td>{{ site.url_short }}</td>
                <td>{{ site.date_created|date:"F d, Y" }}</td>
                <td>{{ site.clicks }}</td>                  
            </tr>
            {% endfor %} 
        </tbody>     
    </table>  
{% endblock content %}